In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import pi, sqrt
print("Set up")

Set up

In [2]:
M = 2.9
M_err = 5e-3
L = 2.2
L_err = 5e-3
x_err = 5e-5
m_err = 1e-6
g = 9.8155
r = 0.223
r_err = 5e-4
R = 0.358
R_err = 5e-4
d = 0.5
d_err = 5e-4

In [3]:
data1 = pd.read_csv("../data/data1.csv")
data1["m"] /= 1e3
data1["x"] /= 1e3
data1

          m       x
0  0.000502  0.0118
1  0.000509  0.0120
2  0.000511  0.0116
3  0.000510  0.0114

In [4]:
data1["v"] = M/data1["m"]*sqrt(g/L)*data1["x"]
data1["v_err"] = data1["v"]*(M_err/M+m_err/data1["m"]+L_err/2/L+x_err/data1["x"])
data1

          m       x           v     v_err
0  0.000502  0.0118  143.986297  1.308810
1  0.000509  0.0120  144.413015  1.298534
2  0.000511  0.0116  139.052871  1.269246
3  0.000510  0.0114  136.923360  1.260688

In [5]:
T1 = 12.35
T2 = 9.24
T_err = 0.1
M1 = 730.3e-3
M2 = 730.5e-3
M_err = 5e-5

In [6]:
ki05 = 2*pi*(M1+M2)*R*R*T1/(T1*T1-T2*T2)
ki05

0.21636679304041317

In [7]:
ki05_err = ki05 * (2*M_err/(M1+M2)+2*R_err/R+3*T_err/T2)
ki05_err

0.0076440839222616346

In [8]:
data2 = pd.read_csv("../data/data2.csv")
data2["m"] /= 1e3
data2["x"] /= 1e2
data2

          m      x
0  0.000510  0.080
1  0.000503  0.084
2  0.000514  0.075
3  0.000508  0.085

In [9]:
data2["v"] = data2["x"]/2/d*ki05/data2["m"]/r
data2["v_err"] = data2["v"] * (x_err/data2["x"]+d_err/d+ki05_err/ki05+m_err/data2["m"]+r_err/r)
data2

          m      x           v     v_err
0  0.000510  0.080  152.196812  6.263998
1  0.000503  0.084  162.030602  6.668328
2  0.000514  0.075  141.574126  5.830536
3  0.000508  0.085  162.345763  6.676985